<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Start Application Runtime Settings. Don't Chnage -->
  <!-- 런타임설정부 수정하지 마십시오 -->
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Binaries" />
    </assemblyBinding>
  </runtime>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>-->
  <!-- 런타임 설정부 끝 -->
  <!-- End Application Runtime Settings -->
</configuration>
